/*-------------------------------------*/
/*-----------------Menu---------------*/
/*-------------------------------------*/

.checked-box {
    left: 20px;
    top: 19px;
    cursor: pointer;
}

header {
    button {
        pointer-events: none;
        position: fixed;
        left: 15px;
        margin-left: 0;
        margin-top: 0;

        span {
            display: block;
            position: relative;
            width: 35px;
            height: 5px;
        }
    }

    h1 {
        margin-top: 60px;
        font-size: 2.1rem;
    }
}

.checked-box:hover+header button span:nth-child(1) {
    right: -5px;
}

.checked-box:hover+header button span:nth-child(2) {
    left: -5px;
}

.checked-box:hover+header button span:nth-child(3) {
    right: -5px;
}

/*-------------------------------------*/
/*-----------------Page 1-------------*/
/*-------------------------------------*/

.page1 {
    border-left: 16px solid $yellow-color;
    border-right: 16px solid $yellow-color;

    .top {
        .page-title {
            h2 {
                margin-top: 90px;
                margin-left: 100px;

                span:first-of-type {
                    font-size: 5.5rem;
                }

                span:nth-of-type(2) {
                    font-size: 2.1rem;
                    top: -65px;
                    right: 103px;
                }

                span:nth-of-type(3) {
                    font-size: 2.1rem;
                    right: 297px;
                    top: 19px;
                }
            }
        }

        .text1 {
            font-size: 2.1rem;
            margin-top: 20px;
            margin-right: 20px;
        }
    }

    .bottom {
        .image {
            min-width: 100%;
            min-height: 100%;

            span {
                transition: bottom .2s cubic-bezier(0.65, 0, 0.35, 1);
            }
        }

        .image:hover span {
            bottom: 10px;
        }

        .text2 {
            font-size: 2.1rem;

            p {
                margin-top: 15px;
                margin-right: 25px;
                margin-left: 10px;
            }
        }
    }
}

/*-------------------------------------*/
/*-----------------Page 2-------------*/
/*-------------------------------------*/

.page2 {
    border-left: 16px solid $yellow-color;
    border-right: 16px solid $yellow-color;
}

.lunch-menu {
    .menu-item {
        font-size: 1.4rem;
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;

        span:nth-of-type(1) {
            left: 6px;
        }

        span:nth-of-type(2) {
            font-size: 0.9rem;
        }

        span:nth-of-type(3) {
            right: 6px;
        }

        .menu-item-new::after {
            padding: 0px 2px;
            font-size: 0.6rem;
            margin-left: 15px;
        }

        .menu-item-vegan::after {
            padding: 0px 2px;
            font-size: 0.6rem;
            margin-left: 15px;
        }

        .menu-item-popular::after {
            padding: 0px 2px;
            font-size: 0.6rem;
            margin-left: 15px;
        }
    }
}

/*-------------------------------------*/
/*-----------------Page 3-------------*/
/*-------------------------------------*/

.page3 {
    background-color: $green-color;
    border-left: 16px solid white;
    padding-left: 50px;
}

form {
    min-width: 300px;
    min-height: 350px;
    margin-top: 70px;
    margin-bottom: 80px;

    h2 {
        font-size: 2.7rem;
    }

    label span {
        font-size: 1.5rem;
    }
}

.image-contact {
    min-width: 350px;
    min-height: 350px;
    margin-top: 30px;

    .image-overlay {
        min-width: 350px;
        min-height: 350px;
    }
}

/*-------------------------------------*/
/*------------Cookie-Text-------------*/
/*-------------------------------------*/

footer {
    height: 60px;

    .button-container {
        button {
            width: 150px;
            font-size: 1.3rem;
        }
    }

    p {
        margin-left: 100px;
        font-size: 1rem;
    }
}