/*-------------------------------------*/
/*-----------------Menu---------------*/
/*-------------------------------------*/

.checked-box {
    left: 15px;
    top: 10px;
}

header {
    button {
        margin-left: 20%;
        }
    h1 {
        margin-top: 20px;
        font-size: 2.1rem;
    }
}

/*-------------------------------------*/
/*-----------------Page 1-------------*/
/*-------------------------------------*/

.page1 {
    border-left: 16px solid $yellow-color;
    border-right: 16px solid $yellow-color;

    .top {
        .page-title {
            h2 {
                margin-top: 90px;
                margin-left: 100px;

                span:first-of-type {
                    font-size: 4rem;
                }

                span:nth-of-type(2) {
                    font-size: 1.57rem;
                    top: -48px;
                    right: 76px;
                }

                span:nth-of-type(3) {
                    font-size: 1.55rem;
                    right: 218px;
                    top: 14px;
                }
            }
        }

        .text1 {
            font-size: 1.7rem;
            margin-top: 20px;
            margin-right: 20px;
        }
    }

    .bottom {
        .image {
            min-width: 100%;
            min-height: 100%;

            span {
                transition: bottom .2s cubic-bezier(0.65, 0, 0.35, 1);
            }
        }

        .image:hover span {
            bottom: 10px;
        }

        .text2 {
            font-size: 1.7rem;

            p {
                margin-top: 15px;
                margin-right: 25px;
                margin-left: 10px;
            }
        }
    }
}

/*-------------------------------------*/
/*-----------------Page 2-------------*/
/*-------------------------------------*/

.page2 {
    border-left: 16px solid $yellow-color;
    border-right: 16px solid $yellow-color;
}

.lunch-menu {
    .menu-item {
        font-size: 1.2rem;

        span:nth-of-type(2) {
            font-size: 0.7rem;
        }
    }
}


/*-------------------------------------*/
/*-----------------Page 3-------------*/
/*-------------------------------------*/

.page3 {
    background-color: $green-color;
    border-left: 16px solid white;
    padding-left: 50px;
}

form {
    min-width: 300px;
    min-height: 350px;
    margin-top: 70px;
    margin-bottom: 80px;

    h2 {
        font-size: 2.7rem;
    }

    label span {
        font-size: 1.5rem;
    }

    input[type="submit"] {
        background-color: rgb(253, 242, 54);
    }
}

.image-contact {
    min-width: 350px;
    min-height: 350px;
    margin-top: 30px;

    .image-overlay {
        min-width: 350px;
        min-height: 350px;
    }
}

/*-------------------------------------*/
/*------------Cookie-Text-------------*/
/*-------------------------------------*/

footer {
    height: 60px;

    .button-container {
        button {
            width: 150px;
            font-size: 1.3rem;
        }
    }

    p {
        margin-left: 100px;
        font-size: 1rem;
    }
}