main {
    padding: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding: 0;
}

/*-------------------------------------*/
/*-----------------Menu---------------*/
/*-------------------------------------*/

.checked-box {
    right: auto;
    left: 8px;
    top: 5px;
}

header {
    position: fixed;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    width: 8.3vw;
    z-index: 1;

    button {
        position: static;
        margin-top: 10px;
        margin-left: 15%;
        z-index: 5;
    }

    h1 {
        max-width: 20px;
        word-break: break-all;
        text-align: center;
        margin-top: 40px;
        margin-left: 30%;
    }
}

/*-------------------------------------*/
/*-----------------Page 1-------------*/
/*-------------------------------------*/

.page1 {
    border-left: 10px solid $yellow-color;
    border-right: 10px solid $yellow-color;
    grid-column: 2 / span 11;
    min-height: 100vh;

    .top,
    .bottom {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(11, 1fr);
        flex: 1;
        height: 50vh;
    }

    .top {
        .page-title {
            grid-column: span 4;

            h2 {
                margin-top: 72px;
                margin-left: 18px;
            }
        }

        .text {
            grid-column: 5 / span 7;
            font-size: 1.4rem;
        }
    }

    .bottom {
        background-color: $yellow-color;

        .image {
            grid-column: 1 / span 5;
            min-height: 100%;
            min-width: 100%;
            max-width: 440px;
            max-height: 352px;
            order: 1;
        }

        .text {
            margin-right: 0;
            margin-left: 0;
        }

        .text2 {
            grid-column: 6 / span 6;
            order: 2;
            font-size: 1.4rem;
            height: 50vh;

            p {
                margin-top: 0;
            }
        }
    }
}

/*-------------------------------------*/
/*-----------------Page 2-------------*/
/*-------------------------------------*/

.page2 {
    border-left: 10px solid $yellow-color;
    border-right: 10px solid $yellow-color;
    background-color: $yellow-color;
    grid-column: 2 / span 11;

    .row {
        width: 100%;
    }

    .row {
        height: 40vh;
        max-height: 300px;
    }
}

/*-------------------------------------*/
/*-----------------Page 3-------------*/
/*-------------------------------------*/

.page3 {
    grid-column: 2 / span 11;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(11, 1fr);
    border-left: 10px solid white;
    background-color: $green-color;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 10px;

    form {
        grid-column: 1 / span 4;
        input[type="submit"] {
            background-color: rgb(253, 242, 54);
        }
    }

    .image-contact-container {
        grid-column: 6 / span 6;

        .image-contact {
            width: 269px;
            height: 276px;
            max-width: 388px;
            max-height: 582px;

            .image-overlay {
                width: 269px;
                height: 276px;
                max-height: 582px;
                max-width: 388px;
            }
        }
    }
}

/*-------------------------------------*/
/*------------Cookie-Text-------------*/
/*-------------------------------------*/

footer {
    z-index: 1;

    .button-container {
        button {
            margin-right: 5px;
            font-size: 1.2rem;
            width: 100px;
        }
    }
    p {
        font-size: 0.9rem;
    }
}