
main {
    // border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding: 0;
    padding-right: 10px;
}

.checked-box {
    right: auto;
    left: 8px;
    top: 5px; 
}

header {
    // position: sticky;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    width: 50px;
    button {
        position: static;
    }

    h1 {
        max-width: 20px;
        word-break: break-all;
        text-align: center;
        margin-top: 15px;
    }
}

.page1 {
    grid-column: span 11;
    min-height: 100vh;
    .top, .bottom {
        display: grid;
        gap:10px;
        grid-template-columns: repeat(11, 1fr);
        flex: 1;
        height: 50vh;
    }
    .top {
        .page-title {
            grid-column: span 4;
            
            h2 {
                margin-top: 72px;
                margin-left: 18px;
            }
        }
        .text {
            grid-column: span 7;
            font-size: 1.4rem;
        }
    }
    .bottom {
        background-color: $yellow-color;
    
        .image {
            grid-column: 1 / span 5;
            max-width: 440px;
            max-height: 352px;
            order: 1;
        }
        .text {
            margin-right: 0;
            margin-left: 0;
        }
        .text2 {
            grid-column:  6 / span 6;
            order: 2;
            font-size: 1.4rem;
            height: 50vh;

            p {
                margin-top: 0;
            }
        }
    }
}

.page2 {
    grid-column: 2 / span 11;
    .row {
        width: 100%;
    }
}

.page3 {
    grid-column:  2 / span 11;
    display: grid;
    gap:16px;
    grid-template-columns: repeat(11, 1fr);
    margin-bottom: 100px;
    form {
        grid-column: 1 / span 4;
    }

    .image-contact-container {
        grid-column: 6 / span 6;

        .image-contact {
            width: 269px;
            height: 276;
            max-width: 388px;
            max-height: 582px;
            .image-overlay {
                width: 269px;
                height: 276px;
                max-height: 582px;
                max-width: 388px;
            }
        }
    }
}
