
main {
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    padding: 0;
    padding-right: 10px;
}

header {
    flex-direction: column;
    height: 100vh;
    grid-row-end: span 5;
}

.page1 {
    grid-column: span 11;
    min-height: 100vh;
    .top, .bottom {
        display: grid;
        gap:16px;
        grid-template-columns: repeat(11, 1fr);
        flex: 1;
        height: 50vh;
    }
    .top {
        .page-title {
            grid-column: span 4;
            
            h2 {
                margin-top: 72px;
                margin-left: 18px;
            }
        }
        .text {
            grid-column: span 7;
            font-size: 1.4rem;
        }
    }
    .bottom {
        background-color: $yellow-color;
    
        .image {
            grid-column: span 5;
            height: 100%;
        }
        .text2 {
            grid-column: span 6;
            font-size: 1.4rem;
            position: absolute;
            margin-left: 37%;
            margin-right: 12px;
            height: 50vh;
        }
    }
}

.page2 {
    grid-column: span 11;
    
    .row {
        width: 100%;
    }

}

.page3 {
    grid-column: span 11;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .grid-container-page3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 18px;
      }
}

form {
    grid-column: 1;
    
}

.image-contact-container {
    grid-column: 2;
    width: 280px;
    height: 300px;
    margin-top: 5px;
    .image-contact {
        width: 280px;
        height: 300px;
        .image-overlay {
            width: 280px;
            height: 300px;
        }
    }
}
