@import 'vendor/normalize';
* {

  box-sizing: border-box;
  
  }

@import 'mobile';


$yellow-color: rgba(255, 242, 54);
$green-color: rgba(0, 255, 56);

body {
  background-color: $yellow-color;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 14px;
  width: 100%;
}

/*-------------------------------------*/
/*-----------------Menu---------------*/
/*-------------------------------------*/

.checked-box {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 4;
  width: 35px;
  height: 35px;
  opacity: 0;
}

header {
  height: 50px;
  background-color: black;
  color: white;
  h1 {
    text-transform: uppercase;
    font-family: 'jockey one', sans-serif;
    font-size: 2rem;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(172,118,255,255);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: hidden;
    z-index: 3;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      text-align: center;
    }
  }
  button {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 4;
    pointer-events: none;
    span {
      display:block;
      width: 25px;
      height: 3px;
      background-color: $yellow-color;
      border-radius: 6px;
      margin-bottom: 4px;
    }
  }
}

input:checked + header nav {
  visibility: visible;
  opacity: 1;
}

input:checked + header button span{
  position: absolute;
  transition: all 0.3s ease-in-out;
}
input:checked + header button span:nth-child(2){
  opacity: 0;
}
input:checked + header button span:nth-child(1){
  transform: rotate(45deg);
}
input:checked + header button span:nth-child(3){
  transform: rotate(-45deg);
}

.menu-header {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'jockey one', sans-serif;
}

/*-------------------------------------*/
/*-----------------Page 1-------------*/
/*-------------------------------------*/

.page1 {
  min-height: calc(100vh - 64px);
  font-family: 'jockey one', sans-serif;
  background-color: black;
}

.page-title {
  text-transform: uppercase;
  max-width: 100%;
  overflow: hidden;
  margin-left: 10px;
  h2 {
    span:first-of-type {
      font-size: 3.75rem;
      color: $green-color;
    }
    span:nth-of-type(2) {
      color: #ac76ff;
      font-size: 1.463rem;
      position: relative;
      top: -45px;
      right: 70px;
    }
    span:nth-of-type(3) {
      color: $yellow-color;
      font-size: 1.463rem;
      position: relative;
      top: 13px;
      right: 205px;
    }
  }
}

.text {
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

.text1 {
  color: $green-color;
}

.text2 {
  background-color: white;
  color: #ac76ff;
  a {
    color: black;
    text-decoration: none;

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.image {
  max-width: 300px;
  height: 30vh;
  max-height: 350px;

  background-image: url(../assets/photos/mae-mu-hugb85v0J04-unsplash.jpg);
  background-size: cover;
  background-position: center center;

  position: relative;

  span {
    position: absolute;
    bottom: 8px;
    left: 8px;
    margin: 0;
    color: white;
    height: 20px;
    width: 20px;
  }
}

/*-------------------------------------*/
/*-----------------Page 2-------------*/
/*-------------------------------------*/

.page2 {
  font-family: 'jockey one', sans-serif;
  min-height: calc(100vh - 14px);
}


.row {
  display: flex;
  height: 35vh;
  max-height: 196.7px;
  width: 100%;
  .column {
    flex: 33.33%;
    margin: 5px;
    background-size: cover;
    background-position: center;
  }
  .image1 {
    background-image: url(../assets/photos/edgar-castrejon-1SPu0KT-Ejg-unsplash.jpg);
  }
  .image2 {
    background-image: url(../assets/photos/kao-rodriguez-IeTzHiuepmU-unsplash.jpg);
  }
  .image3 {
    background-image: url(../assets/photos/mor-shani-kQloRmVQYIs-unsplash.jpg);
  }
}

.lunch-menu {
  
  .menu-item {
    margin-top: 10px;
    height: 40px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    span:first-of-type {
      float: left;
      margin-left: 5px;
      text-transform: uppercase;
    }
    span:nth-of-type(2) {
      display: inline-block;
      font-family: 'roboto condensed', sans-serif;
      font-size: 0.6rem;
    }
    span:nth-of-type(3) {
      margin-left: auto;
      float: right;
      margin-right: 5px;
    }
    .menu-item-new::after {
      content: "new!";
      display: inline-block;
      padding: 0px 2px;
      font-size: 0.5rem;
      text-transform: uppercase;
      font-family: 'Courier New', Courier, monospace;
      background-color: blue;
      transform: rotate(3deg);
      margin-left: 5px;
      margin-right: -5px;
    }
    .menu-item-vegan::after {
      content: "vegan";
      display: inline-block;
      padding: 0px 2px;
      font-size: 0.5rem;
      text-transform: uppercase;
      font-family: 'Courier New', Courier, monospace;
      background-color: $green-color;
      transform: rotate(-3deg);
      margin-left: 5px;
      margin-right: -5px;
    }
    .menu-item-popular::after {
      content: "Popular";
      display: inline-block;
      padding: 0px 2px;
      font-size: 0.5rem;
      text-transform: uppercase;
      font-family: 'Courier New', Courier, monospace;
      background-color: $yellow-color;
      margin-left: 5px;
      margin-right: -5px;
    }
  }
}

/*-------------------------------------*/
/*-----------------Page 3-------------*/
/*-------------------------------------*/

form {  
  max-width: 300px;
  margin: 0 auto;
  font-family: 'jockey one', sans-serif;
  h2 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 2.3rem;
  }
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    span {
      flex: 1;
      font-size: 1.2rem;
    }
    input {
      border: 1px solid $yellow-color;
      border-radius: 10px;
      margin-left: 5px;
    }
    input[type=date]:required:invalid::-webkit-datetime-edit {
      color: transparent;
  }
  }
  input[type="reset"],
  input[type="submit"] {
    height: 25px;
    width: calc(50% - 5px);
    border: 1px solid $yellow-color;
    border-radius: 10px;
    font-size: 1.3rem;
  }
  input[type="reset"] {
    background-color: rgb(170, 117, 255);
  }
  input[type="submit"] {
    background-color: $green-color;
  }
}

.image-contact-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .image-contact {
    background-image: url(../assets/photos/ronan-kruithof-PCE0T5i4pDI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    width: 300px;
    height: 250px;
    .image-overlay {
      height: 250px;
      width: 300px;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(1px); 
      display: flex;
      justify-content: center;
      align-items: center;
      .contact-container {
        text-align: center;
        .contact-row {
          display: flex;
          align-items: center;
          margin: 10px 0;
          color: rgb(170, 117, 255);
          font-weight: bold;
          filter: drop-shadow(-2px 0px black);
        }
        span {
          font-size: 2.5rem;
          margin-right: 5px;
        }
        p {
          font-size: 1.3rem;
          margin: 0;
        }
        .adress {
          margin-bottom: 5px;
        }
      }
    }
  }
}

/*-------------------------------------*/
/*------------Cookie-Text-------------*/
/*-------------------------------------*/

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(172,118,255,255);
  padding: 5px;
  p {
    color: white;
    font-family: "roboto condensed",sans-serif;
    font-size: 0.8rem;
  }
  .button-container {
    position: absolute;
    bottom: 10px;
    left: 60%;
  }
  button {
    width: 80px;
    height: 25px;
    font-family: 'jockey one', sans-serif;
    font-size: 1rem;
    border: 1px;
    border-radius: 10px;
  }
  .cookie-button-decline {
    background-color: $yellow-color;
  }
  .cookie-button-accept {
    background-color: $green-color;
  }
}

/*-------------------------------------*/
/*-------Import Tablet & Desktop------*/
/*-------------------------------------*/

@media screen and (min-width: 640px) {
  @import 'tablet';
}

@media screen and (min-width: 1024px) {
  @import 'desktop';
}