@import 'vendor/normalize';

@import 'mobile';

@media screen and (min-width: 1280px) {
  @import 'desktop';
}

body {
  background: black;
}

main {
  //padding: 14px;
  //border: 2px solid green;
}

header {
  height: 50px;
}

.page1 {
  min-height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.page-title {
  text-transform: uppercase;
  h2 {
    span:first-of-type {
      font-size: 3.75rem;
      color: green;
    }
    span:nth-of-type(2) {
      color: purple;
      font-size: 1.563rem;
      position: relative;
      top: -42px;
      right: 114px;
    }
    span:nth-of-type(3) {
      color: green;
      font-size: 1.463rem;
      position: relative;
      top: 13px;
      right: 321px;
    }
  }
}

.text {
  font-size: 1rem;
}

.text1 {
  color: green;
}

.text2 {
  background-color: white;
  color: blue;
  a {
    color: black;
  }
}

.image {
  max-width: 300px;
  height: 30vh;
  max-height: 350px;
  background-color: black;

  background-image: url(../assets/photos/mae-mu-hugb85v0J04-unsplash.jpg);
  background-size: cover;
  background-position: center center;

  position: relative;

  p {
    color: white;
    position: absolute;
    bottom: 8px;
    left: 8px;
    margin: 0;
  }
}