@import 'vendor/normalize';
* {

  box-sizing: border-box;
  
  }

@import 'mobile';

@media screen and (min-width: 1280px) {
  @import 'desktop';
}

$yellow-color: rgba(255, 242, 54);
$green-color: rgba(0, 255, 56);

body {
  background-color: $yellow-color;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 14px;
  width: 100%;
}

.checked-box {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 35px;
  height: 35px;
  opacity: 0;
}

header {
  height: 50px;
  background-color: black;
  color: white;
  h1 {
    text-transform: uppercase;
    font-family: 'jockey one', sans-serif;
    font-size: 2rem;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(172,118,255,255);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: hidden;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      text-align: center;
    }
  }
  button {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 2;
    pointer-events: none;
    span {
      display:block;
      width: 25px;
      height: 3px;
      background-color: $yellow-color;
      border-radius: 6px;
      margin-bottom: 4px;
    }
  }
}

input:checked + header nav {
  visibility: visible;
  opacity: 1;
}

input:checked + header button span{
  position: absolute;
  transition: all 0.3s ease-in-out;
}
input:checked + header button span:nth-child(2){
  opacity: 0;
}
input:checked + header button span:nth-child(1){
  transform: rotate(45deg);
}
input:checked + header button span:nth-child(3){
  transform: rotate(-45deg);
}

.menu-header {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'jockey one', sans-serif;
}

.page1 {
  min-height: calc(100vh - 64px);
  font-family: 'jockey one', sans-serif;
  background-color: black;
}

.page-title {
  text-transform: uppercase;
  max-width: 100%;
  overflow: hidden;
  h2 {
    span:first-of-type {
      font-size: 3.75rem;
      color: $green-color;
    }
    span:nth-of-type(2) {
      color: #ac76ff;
      font-size: 1.463rem;
      position: relative;
      top: -45px;
      right: 70px;
    }
    span:nth-of-type(3) {
      color: $yellow-color;
      font-size: 1.463rem;
      position: relative;
      top: 13px;
      right: 205px;
    }
  }
}

.text {
  font-size: 1rem;
}

.text1 {
  color: $green-color;
}

.text2 {
  background-color: white;
  color: #ac76ff;
  a {
    color: black;
    text-decoration: none;

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.image {
  max-width: 300px;
  height: 30vh;
  max-height: 350px;

  background-image: url(../assets/photos/mae-mu-hugb85v0J04-unsplash.jpg);
  background-size: cover;
  background-position: center center;

  position: relative;

  img {
    position: absolute;
    bottom: 8px;
    left: 8px;
    margin: 0;
  }
}

.page2 {
  font-family: 'jockey one', sans-serif;
  min-height: calc(100vh - 14px);
}


.row {
  display: flex;
  height: 30vh;
  max-height: 196.7px;
  width: 100%;
  .column {
    flex: 33.33%;
    // padding: 5px;
    margin: 5px;
    background-size: cover;
    background-position: center;
  }
  .image1 {
    background-image: url(../assets/photos/edgar-castrejon-1SPu0KT-Ejg-unsplash.jpg);
  }
  .image2 {
    background-image: url(../assets/photos/kao-rodriguez-IeTzHiuepmU-unsplash.jpg);
  }
  .image3 {
    background-image: url(../assets/photos/mor-shani-kQloRmVQYIs-unsplash.jpg);
  }
}

.lunch-menu {
  
  .menu-item {
    margin-top: 10px;
    height: 40px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    span:first-of-type {
      float: left;
      text-transform: uppercase;
    }
    span:nth-of-type(2) {
      display: inline-block;
      font-family: 'roboto condensed', sans-serif;
      font-size: 60%;
    }
    span:nth-of-type(3) {
      float: right
    }
  }
}

form {  
  max-width: 300px;
  margin: 0 auto;
  font-family: 'jockey one', sans-serif;
  h2 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 2.3rem;
  }
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    span {
      flex: 1;
      font-size: 1.2rem;
    }
    input {
      border: 1px solid $yellow-color;
      border-radius: 10px;
      margin-left: 5px;
    }
  }
  input[type="reset"],
  input[type="submit"] {
    height: 25px;
    width: calc(50% - 5px);
    border: 1px solid $yellow-color;
    border-radius: 10px;
    font-size: 1.3rem;
  }
  input[type="reset"] {
    background-color: rgb(170, 117, 255);
  }
  input[type="submit"] {
    background-color: $green-color;
  }
}
